<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad">
      <%= form_for @category do |f| %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
