<% content_for :head do %>
  <title>All Categories</title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad text-right">
      <%= link_to "Add Category", new_category_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-12">
      <div class="bg-white padpad">
        <%= link_to category_path(category), class: "Link Link mmm__item-link" do %>
          <h3>
            <%= category.name %>
            <font class="mmm__count"> <%= @category_count[category.id] || 0 %></font>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
