<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>
  <%= yield :head %>
</head>

<body>
<div class="container">

  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">

        <%= link_to 'Main page', {controller: 'home', action: 'index'}, class: 'text-muted' %>

      </div>
      <div class="col-4 text-center">
        <span class="blog-header-logo text-dark" href="#">Special Equipment</span>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
          </svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%= link_to 'All Tech', teches_path, class: 'p-2 text-muted' %>
      <%= link_to 'All Category', categories_path, class: 'p-2 text-muted' %>
      <%= link_to 'All Vendors', vendors_path, class: 'p-2 text-muted' %>
      <%= link_to 'All Model', models_path, class: 'p-2 text-muted' %>
      <%= link_to 'All State', states_path, class: 'p-2 text-muted' %>
      <%= link_to 'All Type Advert', type_adverts_path, class: 'p-2 text-muted' %>
    </nav>
  </div>




  <% if flash[:error] && flash[:error].length > 0 %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:success] && flash[:success].length > 0 %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
</div>


<div class="container">
  <%= yield %>
</div>

<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
</body>
</html>
