// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Layout {
  box-sizing: border-box;
  width: 1180px;
  margin: 0 auto;
  transition: transform .3s;
}

.Index__marks-wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Index__marks {
  overflow: hidden;
  flex: 1 0 880px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.IndexMarks {
  margin: 0;
  padding: 20px;
  background: #fff;
}

.breadcrumbs, .breadcrumbs__level, .columns, .nav-top__header, .tile__p {
  white-space: nowrap;
}

.mmm-switcher__list_popular {
  display: block;
}

.columns_count_6 .columns__col {
  width: 16.666666666666668%;
}

.columns__col {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.mmm_page_dealers, .mmm_page_main {
  overflow: hidden;
}

.mmm {
  list-style: none;
  margin: 0;
  overflow: auto;
}

.columns__col-inner {
  padding: 0 10px;
  white-space: normal;
}

.mmm_page_main .mmm__item {
  white-space: nowrap;
  line-height: 32px;
  margin: 0;
  width: 100%;
}

.mmm__item {
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 20px;
  float: left;
  clear: both;
}

.mmm__item-link {
  color: #000;
  display: block;
}

.Link {
  cursor: pointer;
  text-decoration: none;
  transition: color .3s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

.IndexMarks .mmm__count {
  line-height: 13px;
}

.mmm__count {
  font-size: 13px;
  vertical-align: baseline;
  margin: 0 0 0 9px;
  color: rgba(0, 0, 0, .3);
}

.mmm__count, .mmm__more {
  transition: color .15s ease-out;
}

.mmm__item-link:hover {
  color: #db3727
}

.mmm__item-link:hover .mmm__count{
  color: #db3727
}