// Place all the styles related to the teches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-phone {
  background: white;
  p {
    color: #db3727;
  }
  border-color: #005cbf;
}

.btn.btn-phone:hover {
  background: #28a745;
  color: white;
  p {
    color: white;
  }
}