// Place all the styles related to the Vendors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tree-item {
  border: solid 1px #db3727;
  height: 50%;
  width: 50%;
  position: absolute;
  right: -1px;
  top: -1px;
}

.tree {
  overflow: hidden;
}