<% content_for :head do %>
  <title>All Models</title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad text-right">
      <%= link_to "Add State", new_state_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div class="row">
  <% @states.each do |state| %>
    <div class="col-md-12">
      <div class="bg-white padpad">
        <%= link_to state_path(state), class: "Link Link mmm__item-link" do %>
          <h3>
            <%= state.name %>
            <font class="mmm__count"> <%= @state_count[state.id] || 0 %></font>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
