<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white padpad">
        <%= form_for @model do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :vendor %>
            <%= f.collection_select :vendor_id, Vendor.all, :id, :name, {promt: "Select vendor"} %>
          </p>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>