<% content_for :head do %>
  <title>All Models</title>
<% end %>
<% @vendorModels.each do |vendor, models| %>
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white padpad">
        <div class="row">
          <div class="col-md-8">
            <h4>
              <%= vendor.name %>
            </h4>
          </div>
          <div class="col-md-4 text-right">
            <h4>
              <%= link_to "Add Model", new_model_path(vendor_id: vendor.id), class: 'btn btn-success' %>
            </h4>
          </div>
          <% unless models.nil?
               models.each do |m| %>
              <div class="col-md-1 tree">
                <div class="tree-item">
                </div>
              </div>
              <div class="col-md-11">
                <%= link_to model_path(m), class: "Link Link mmm__item-link" do %>
                  <%= m.name %>
                  <font class="mmm__count"> <%= @techCount[m.id] || 0 %></font>
                <% end %>
              </div>
            <% end
               end %>
        </div>
      </div>
    </div>
  </div>
<% end %>