<%= form_for @tech, :html => {multipart: true} do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="bg-white padpad">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <h3><%= f.text_field :name, placeholder: "Title" %></h3>
            <% unless @tech.created_at.nil? %>
              <span>created: <%= @tech.created_at %></span>
              <span>updated: <%= @tech.updated_at %></span>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-12 text-right">
              <span>
                <%= f.collection_select :type_advert_id, TypeAdvert.all, :id, :name, {promt: 'Select type advert'} %>
                </span>
            <h4><%= f.text_field :price %><sub>₽</sub></h4>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-12">
      <div class="bg-white padpad">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p>Name: <strong> NAME</strong></p>
          </div>
          <div class="col-md-4 col-sm-12 text-right">
            <button class="btn btn-phone"> Показать
              <p>+7-***-***-****</p></button>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-12">
      <div class="bg-white padpad">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <table class="table">
              <tbody>
              <tr>
                <th scope="row">category</th>
                <td><%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Select category"} %></td>
              </tr>
              <tr>
                <th scope="row">year</th>
                <td><%= f.text_field :year %></td>
              </tr>
              <tr>
                <th scope="row">power</th>
                <td><%= f.text_field :power %></td>
              </tr>
              <tr>
                <th scope="row">volume_dvs</th>
                <td><%= f.text_field :volume_dvs %></td>
              </tr>
              <tr>
                <th scope="row">state</th>
                <td><%= f.collection_select :state_id, State.all, :id, :name, {promt: "Select category"} %></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-sm-12">
            <table class="table">
              <tbody>
              <tr>
                <th scope="row">vendor</th>
                <td><%= select_tag :model_id, Vendor.all %></td>
              </tr>
              <tr>
                <th scope="row">model</th>
                <td><%= f.grouped_collection_select :model_id, Vendor.all, :models, :name, :id, :name, include_blank: true %></td>
              </tr>
              <tr>
                <th scope="row">weight</th>
                <td><%= f.text_field :weight %> кг.</td>
              </tr>
              <tr>
                <th scope="row">hours_use</th>
                <td><%= f.text_field :hours_use %></td>
              </tr>
              <tr>
                <th scope="row">mileage_use</th>
                <td><%= f.text_field :mileage_use %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-12">
      <div class="bg-white padpad">
        <p>
          <%= f.text_area :description %>
        </p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="bg-white padpad text-center">
        <p>
          <%= f.submit class: "btn btn-success" %>
        </p>
      </div>
    </div>
  </div>

<% end %>