<% content_for :head do %>
  <title>All Teches</title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad text-right">
      <%= link_to "Add Tech", new_tech_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<%= render 'select' %>