<% content_for :head do %>
  <title><%= @tech.name %></title>
<% end %>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.bmw.ca/content/dam/bmw/marketCA/bmw_ca/images/Experience_/Driving_Experience/BMW_M-Thermal-Experience_mainteaser_1680x756_Jan2017.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1515429369333.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="https://www.bmw.ca/content/dam/bmw/marketCA/bmw_ca/images/Experience_/Driving_Experience/BMW_M-Thermal-Experience_mainteaser_1680x756_Jan2017.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1515429369333.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="https://www.bmw.ca/content/dam/bmw/marketCA/bmw_ca/images/Experience_/Driving_Experience/BMW_M-Thermal-Experience_mainteaser_1680x756_Jan2017.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1515429369333.jpg" alt="First slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <h1><%= @tech.name %></h1>
          <span>created: <%= @tech.created_at %></span>
          <span>updated: <%= @tech.updated_at %></span>
        </div>
        <div class="col-md-4 col-sm-12 text-right">
              <span>
                <%= @tech.type_advert.name %>
                </span>
          <h1><%= @tech.price %><sub>₽</sub></h1>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="col-md-12">
    <div class="bg-white padpad">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <p>Name: <strong> NAME</strong></p>
        </div>
        <div class="col-md-4 col-sm-12 text-right">
          <button class="btn btn-phone"> Показать
            <p>+7-***-***-****</p></button>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="col-md-12">
    <div class="bg-white padpad">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">category</th>
              <td><%= @tech.category.name %></td>
            </tr>
            <tr>
              <th scope="row">year</th>
              <td><%= @tech.year %></td>
            </tr>
            <tr>
              <th scope="row">power</th>
              <td><%= @tech.power %></td>
            </tr>
            <tr>
              <th scope="row">volume_dvs</th>
              <td><%= @tech.volume_dvs %></td>
            </tr>
            <tr>
              <th scope="row">state</th>
              <td><%= @tech.state.name %></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-12">
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">vendor</th>
              <td><%= @tech.model.vendor.name %></td>
            </tr>
            <tr>
              <th scope="row">model</th>
              <td><%= @tech.model.name %></td>
            </tr>
            <tr>
              <th scope="row">weight</th>
              <td><%= @tech.weight %> кг.</td>
            </tr>
            <tr>
              <th scope="row">hours_use</th>
              <td><%= @tech.hours_use %></td>
            </tr>
            <tr>
              <th scope="row">mileage_use</th>
              <td><%= @tech.mileage_use %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="col-md-12">
    <div class="bg-white padpad">
      <p>
        <%= @tech.description %>
      </p>
    </div>
  </div>

  <div class="col-md-12">
    <%= link_to 'Edit', edit_tech_path(@tech), :class => 'bnt btn-sm btn-outline-secondary' %>
    <%= link_to 'Delete', tech_path, method: :delete, :class => 'bnt btn-sm btn-outline-secondary', data: {confirm: 'Are you sure?'} %>
  </div>
</div>
