<% content_for :head do %>
  <title>Main page</title>
<% end %>


<div class="row">
  <%
    countInCol = @vendors.length / 6 + 1
    i = 0
    6.times {
  %>
    <div class="col-md-2 col-4">
      <ul class="columns__col-inner mmm mmm_page_main">
        <%
          j = 0
          while i < @vendors.length && j < countInCol
            vendor = @vendors[i]
        %>
          <li class="mmm__item">
            <%= link_to vendor_path(vendor), class: 'Link Link mmm__item-link' do %>
              <%= vendor.name %>
              <font class="mmm__count"> <%= @vendor_count[vendor.id] || 0 %></font>
            <% end %>
          </li>
        <%
          i += 1
          j += 1
          end %>
      </ul>
    </div>
  <% } %>
</div>


<%= render template: 'teches/_select' %>