<% content_for :head do %>
  <title>All Type Adverts</title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad text-right">
      <%= link_to "Add Type Advert", new_type_advert_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div class="row">
  <% @typeAdverts.each do |typeAdvert| %>
    <div class="col-md-12">
      <div class="bg-white padpad">
        <%= link_to type_advert_path(typeAdvert), class: "Link Link mmm__item-link" do %>
          <h3>
            <%= typeAdvert.name %>
            <font class="mmm__count"> <%= @type_advert_count[typeAdvert.id] || 0 %></font>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
