<% content_for :head do %>
  <title><%= @typeAdvert.name %></title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bg-white padpad">
      <div class="row">
        <div class="col-md-8">
          <h4>
            <%= @typeAdvert.name %>
            <font class="mmm__count"> <%= @teches.length %></font>
          </h4>
        </div>
        <div class="col-md-4 text-right">
          <div class="btn-group ">
            <%= link_to 'Edit', edit_type_advert_path(@typeAdvert), class: 'bnt btn-sm btn-outline-secondary' %>
            <%= link_to 'Delete', type_advert_path, method: :delete, class: 'bnt btn-sm btn-outline-secondary', data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render template: 'teches/_select' %>